<div class="container">
  <div class="page-header">
    <h1>How To Mine</h1>
  </div>
  <dl class="dl-horizontal">
    <dt>YOUR_AQUA_ADDRESS</dt>
    <dd>This is your address for payouts, generate one with 'aquachain.exe account new' or 'aquachain.exe paper'. Make sure it begins with '0x'
      <strong>Example:</strong> <code>0x3317e8405e75551ec7eeeb3508650e7b349665ff</code>.
    </dd>
    <dt>RIG_ID</dt>
    <dd>
      ID of your farm to distinguish it from your other rig. If you have just one rig, feel free to omit this param.
      This param must be short alphanumeric string with optional dashes and underscores.<br/>
      <strong>Example:</strong> <code>rig-1</code>
    </dd>
  </dl>
  <h4>Advice</h4>
  <p>CPU mining is recommended.</p>
  <h4>Terms of Service</h4>
  <p>By using the pool you accept all possible risks related to experimental software usage.<br/>
     Pool owner can't compensate any irreversible losses, but will do his best to prevent worst case.
  </p>

  <p>
    Chat: <a href="https://t.me/AquaCrypto">@AquaCrypto</a>
  </p>
</div>
